<%= simple_form_for @song, url: songs_path do |f| %>

  <%= f.input :title %>
  <%= f.input :recording, :as => :file %>
  
  <%= f.button :submit, :class => "button" %>

<% end %>

<div class="progress"><div class="bar" style="width: 0%; height:10px; background: green;"></div></div>
