<%= simple_form_for @song do |f| %>

  <%= f.input :title %>
  <%= f.input :recording, :as => :file %>
  
  <%= link_to "submit", music_path, :class => "button" %>

<% end %>

<div class="progress"><div class="bar" style="width: 0%; height:10px; background: green;"></div></div>