<div class="photo">
  <%= link_to(image_tag(photo.image_url(:med), :alt => photo.caption, :title => photo.caption), 
              photo.image_url(:full), 
              :title => photo.caption,
              :rel => "fancybox-thumb",
              :data => { :"fancybox-group" => "gallery" }) if photo.image? %>
  <% if current_user %>
  <div id="actions">
    <%= link_to "edit", edit_photo_path(photo) %> | <%= link_to "delete", photo_path(photo), :data => { :method => :delete, :confirm => "You sure?" }%>
  </div>
  <% end %>
</div>
