<div id="band">
  <%= image_tag image_path('drunken-hearts.jpg'), :class => "band-shot" %>
  <p><span class="name">Andrew McConathy:</span> Guitar / Vocals</p>
  <p><span class="name">Jon McCartan:</span> Bass</p>
  <p><span class="name">Zebulon Bowles</span> Fiddle</p>
  <p><span class="name">Dude Manguy</span> Drums / Vocals</p>
  <p><span class="name">Rob Eaton, Jr:</span> Electric Guitar / Vocals</p>
  <p><span class="name">Cody Russell:</span> Pedal Steel / Banjo</p>
</div>
