<div id="band">
  <%= image_tag image_path('band.jpg'), :class => "band-shot" %>
  <p><span class="name">Rob Eaton, Jr:</span> Electric Guitar / Vocals</p>
  <p><span class="name">Adam Galblum:</span> Fiddle / Vocals</p>
  <p><span class="name">Ted Welles:</span> Drums / Vocals</p>
  <p><span class="name">Cody Russell:</span> Pedal Steel / Banjo</p>
  <p><span class="name">Andrew McConathy:</span> Guitar / Vocals</p>
  <p><span class="name">Derek Shields:</span> Bass</p>
</div>
