<div id="band">
  <%= image_tag image_path('band.jpg'), :class => "band-shot" %>
  <p><span class="name">Andrew McConathy:</span> Guitar / Vocals</p>
  <p><span class="name">Derek Shields:</span> Bass</p>
  <p><span class="name">Ted Welles:</span> Drums / Vocals</p>
</div>