<div id="contact">
  <div class="half-grid">
    <%= image_tag image_path('contact.jpg')%>
  </div>
  <div class="half-grid">
    <p class="first">For general inquiries or booking email:</p>
    <p class="bold"><%= mail_to "thedrunkenhearts@gmail.com" %></p>
    <p><%= link_to image_tag(image_path('fb.jpg')), "https://www.facebook.com/thedrunkenhearts" %></p>
  </div>
</div>
