<div id="photos">
  <% @photos.each do |photo| %>
    <div class="photo"><%= link_to(image_tag(photo.image_url(:thumb)), photo.image_url(:full)) if photo.image? %></div>
  <% end %>
</div>
<% if current_user %>
<div id="uploads">
  <%= form_for Photo.new do |f| %>
    <%= file_field_tag :image, :multiple => true, :name => "photo[image]" %>
  <% end %>
</div>
<% end %>