<div id="videos">
  
  <div>
    <iframe width="710" height="400" src="//www.youtube.com/embed/yzRslb_vdkc" frameborder="0" allowfullscreen></iframe>
  </div>

  <div>
    <iframe width="710" height="400" src="//www.youtube.com/embed/aK7uUdG9lRM" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
<div id="photos">
  <% @photos.each do |photo| %>
    <%= render 'photo', :photo => photo %>
  <% end %>
</div>
<% if current_user %>
<div id="uploads">
  <%= form_for Photo.new, :url => "/photos" do |f| %>
    <%= file_field_tag :image, :multiple => true, :name => "photo[image]" %>
  <% end %>
  <div class="progress">
    <div class="bar" style="width: 0%; height: 20px; background; green;"></div>
  </div>
</div>
<% end %>
