<div id="store">
  <h1>Merch</h1>
  <% @products.each do |product| %>
    <div class="product">
      <h2><%= product.title %></h2>
      <div class="image"><%= image_tag product.product_images.first.image_url(:med) %></div>
      
    </div>
  <% end %>
</div>
