<div id="cart" ng-view ng-cloak class="ng-cloak">
  <div class="cart-status" ng-show="!cart.line_items.length">
    <%= image_tag('cart_white.png') %>
  </div>
  <div class="cart-status" ng-show="cart.line_items.length" ng-click="showCart = !showCart">
    <%= image_tag('cart_full_white.png') %>
  </div>
  <div ng-show="showCart" id="cart-detail">
    <table style="color: white">
      <tr ng-repeat="item in cart.line_items">
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.title }}</td>
        <td>{{ item.total_price }}</td>
      </tr>
      <tr>
        <td colspan="2">total:</td>
        <td>{{ cart.total_price }}</td>
      </tr>
    </table>
    <a href="#" ng-click="clearCart()">Empty Cart</a>
    <%= link_to "Checkout", new_order_path, :class => "button" %>
  </div>
</div>
